.botonesContratar{
    background-color: gray;
    color: black;
    border-color: gray;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.botonCarrito{
    background-color: #F4623A;
    border-color: #F4623A;
}

.ImagenCard{
    width: 75px;
    height: auto;
    text-align: center;
  }
  
  h3, h4, h5 {
    font-family: 'Orbitron', sans-serif;
    color: black;
  
  }
  .botonesdetalle{
    background-color: #F4623A;
    color: black;
    border-color: #F4623A;
    font-family: 'Orbitron', sans-serif;
  }
  
  .price{
    font-weight: bold;
  }