.ImagenCard{
  width: 150px;
  height: auto;
  text-align: center;
}

h3, h4, h5 {
  font-family: 'Orbitron', sans-serif;
  color: #F4623A;

}
.botonesdetalle{
  background-color: #F4623A;
  color: black;
  border-color: #F4623A;
  font-family: 'Orbitron', sans-serif;
}

.price{
  font-weight: bold;
}

