
h3, h4, h5 {
  font-family: 'Orbitron', sans-serif;
  color: #F4623A;

}
.botonesdetalle{
  background-color: #F4623A;
  color: black;
  border-color: #F4623A;
  font-family: 'Orbitron', sans-serif;
}

.itemDetail {
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
  justify-content: center;
  background-color: whitesmoke;
  margin: 2rem 15rem;
  padding: 2rem 6vh;
  display: flex;
  animation-name: show;
  animation-duration: 1s;
}

.itemDetail img {
  width: 25%;
  height: 20rem;
  text-align: center;
}

.detail {
  margin-left: 10vh;
}
.detail h2 {
  color: black;
  font-size: xx-large;
  font-family: 'Orbitron', sans-serif;
}
.detail p {
  color: black;
}

.botonCarrito{
  background-color: #F4623A;
  border-color: #F4623A;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.botonesContratar{
  background-color: gray;
  color: black;
  border-color: gray;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}