.cantidadCarrito{
    background-color: whitesmoke;
    color: black;
    width: 20px;
    border-radius: 100px;
    text-align: center;
    font-size: small;
    
}

a {
  text-decoration: none;
}


