 .ItemListContainer{
  color: #F4623A;
  font-weight: bold;
  text-align: center;
  display: grid;
  }


  .ItemListContainerCard{
    background-color: rgba(245, 245, 245, 0.884);
    display: grid;
  }
