.botonesdetalle{
    background-color: #F4623A;
    color: black;
    border-color: #F4623A;
    font-family: 'Orbitron', sans-serif;
}

.imagePoint{
    width: 100px;
    text-align: center;
    margin: auto;
}
.contenerdorCard{
    background-color: rgba(245, 245, 245, 0.884);
}
.textoStock{
    color:black;
    font-weight:lighter;
}

