.home{
    padding: 8rem;
    background-image: url(./seguridadTrabajo.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

 


h1 {
    font-family: 'Orbitron', sans-serif;
    color:black;
}

h3{
    color:#F4623A;
    font-family: 'Orbitron', sans-serif;
}
.cajaTitulos{
    background-color: rgba(245, 245, 245, 0.884);
    
}