
.navbar {
  background-color: #F4623A;
  display: flex;
  align-items: center;
  font-family: 'Orbitron', sans-serif;
  height: 80px;
}

.navbar ul {
  display: flex;
  list-style: none;
  height: 15px;
}
.navbar ul li {
  text-align:center;
 justify-content:center;
}
.navbar ul li a {
  color: white;
  text-decoration: none;
  justify-content: center;
  margin: 10px;
  padding: 10px;
}
.navbar ul li a:hover {
  color: blue;
}

.menu{
  width: 60%;
}

.logo{
  padding-left: 5px;
  margin: auto;
  padding-bottom: 0;
}
