.footer {
  background: #F4623A;
  padding: 25px;
  color: #e9e8e6;
  font-size: 14px;
  text-align: center;
  
}

.footer .credits {
  font-size: 13px;
  color: #e9e8e6;
}

.copyright span {
 color: whitesmoke;
 
}