.botonesContratar{
    background-color: gray;
    color: black;
    border-color: gray;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.botonCarrito{
    background-color: #F4623A;
    border-color: #F4623A;
}