.imgCard {
    width: 150px;
    height: 150px;
    text-align: center;
  
  }
  .imgCard img {
    width: 100%;
    text-align: center;
    justify-content: center;
  }
  h1, h2, h3, h4, h5 {
    font-family: 'Orbitron', sans-serif;
  
  }